<div class="settings">
  <div class="settings-add">
    <p [ngClass]="{ hide: !isLoading, 'is-loading': isLoading }">
      Loading ...
    </p>
    <h2>Add a city</h2>
    <app-add-weather (addWeather)="addWeather($event)"></app-add-weather>
    <p [ngClass]="{ hide: !errorInput, error: errorInput }">
      City name is invalid
    </p>
  </div>

  <div class="settings-remove">
    <h2>Remove a city</h2>
    <div
      [ngClass]="{
        'list-cities': true,
        scrollable: isScrollable
      }"
    >
      <app-remove-weather
        *ngFor="let weather of weathers | async"
        [weather]="weather"
      ></app-remove-weather>
    </div>
  </div>
</div>
