<div class="header">
  <img
    src="../../../assets/Logo/logo.png"
    alt="header_logo"
    class="header-logo"
  />
  <div class="header-appName">
    <h1>WeatherApp</h1>
    <nav>
      <a routerLink="/" (click)="handleChange()"
        ><span
          [ngClass]="{
            'current-page': onHomePage
          }"
          >Home</span
        ></a
      >
      |
      <a routerLink="/settings" (click)="handleChange()"
        ><span
          [ngClass]="{
            'current-page': !onHomePage
          }"
          >Settings</span
        ></a
      >
    </nav>
  </div>
</div>
