@import "../../_variables/index.scss";

.remove {
  display: flex;
  flex-direction: column;
  width: 100%;

  .city {
    flex-grow: 1;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    &-name {
      flex-grow: 1;
    }

    &:hover {
      font-size: 1.15rem;
    }

    &:focus {
      outline: none;
    }
  }
}

.selected {
  background-color: rgba($color-primary, 0.5);
}
.btn-unselected {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
}
