.pagination {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
}

.search-input {
  position: relative;

  input {
    width: 100%;
    min-width: 25rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    font-size: 1rem;

    &:placeholder-shown + label {
      width: 10rem;
      transform: translateY(0);
      visibility: hidden;
      opacity: 0;
    }
  }

  label {
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: 0;
    left: 0;
    font-size: 1rem;
    padding: 1rem 0.5rem;
    transform: translateY(-2.5rem);
    transition: all 0.3s ease;
  }
}
