@import "./app/_variables/index.scss";

html {
  font-size: 90.5%;
}
body {
  margin: 0;
  padding: 2rem 5rem;
  font-family: "Open sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: white;

  * {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }

  input {
    box-shadow: 0 5px 5px rgba($color-black, 0.1);
    border: 1px solid black;
    padding: 1rem 0.5rem;
    border-radius: 3px;
    &:focus {
      border: 1px solid $color-primary;
    }
  }

  .btn {
    cursor: pointer;
    outline: none;
    width: 5rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    font-size: 1rem;
    margin-left: 1rem;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
    &:focus {
      border: 1px solid black;
    }

    &:active {
      outline: none;
      animation: moveInBottom 0.2s;
      border: 1px solid black;
    }
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(-5px);
  }
}

@media (max-width: 700px) {
  html {
    font-size: 90%;
  }
  body {
    padding: 2rem 3rem;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 370px) {
  html {
    font-size: 70%;
  }
}
